@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Handlee");
* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.png");
  background-size: 60%;
  font-family: "Roboto", sans-serif !important;
  z-index: -1;
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column;
  color: white;
}

main {
  flex: 1 0 auto;
}

header {
  height: 150px;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

h3 {
  font-family: "Handlee", cursive !important;
  color: #fff200 !important;
  text-align: center;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 2em !important;
}

#text-box {
  width: 100% !important;
  max-width: 100% !important;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.514);
  margin: 50px 0;
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: block;
  cursor: pointer;
  font-size: 3em !important;
  font-family: "Handlee", cursive !important;
  color: #fff !important;
}

nav ul li {
  margin-top: 30px;
  color: #fff200 !important;
}

#nav-mobile {
  margin: auto !important;
  display: inline-block !important;
}

/*
.container1 {
  margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    
}
*/
#outside-solar-syst {
  position: relative;
  height: 800px;
}

.solar-syst div {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}

.neptune {
  height: 130px;
  width: 130px;
  background-image: url("../img/neptun.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -15px;
  margin-left: -15px;
  top: 19% !important;
  left: 5% !important;
  animation: orbit1 linear infinite alternate-reverse 14s;
}

.jupiter {
  height: 200px;
  width: 200px;
  background-image: url("../img/jupiter.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -20px;
  margin-left: -20px;
  top: 71% !important;
  left: 9% !important;
  animation: orbit2 linear infinite 19s;
}

.earth {
  height: 93px;
  width: 90px;
  background-image: url("../img/earth.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  margin-left: -10px;
  top: 10% !important;
  left: 37% !important;
  animation: orbit1 linear infinite 15s;
}

.venus {
  height: 80px;
  width: 80px;
  background-image: url("../img/venus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  margin-left: -10px;
  top: 49% !important;
  left: 14% !important;
  animation: slide-tr 7s cubic-bezier(0.47, -4, 0.745, 0.115) infinite alternate-reverse both;
}

.sun {
  height: 320px;
  width: 320px;
  background-image: url("../img/sun.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -160px !important;
  margin-left: -160px !important;
  top: 50% !important;
  left: 50% !important;
  animation: spin 25s linear infinite both;
}

.mercury {
  height: 70px;
  width: 70px;
  background-image: url("../img/merkur.png");
  margin-top: -8px;
  margin-left: -8px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 31% !important;
  left: 74% !important;
  animation: orbit2 linear infinite 12s;
}

.mars {
  height: 75px;
  width: 75px;
  background-image: url("../img/mars.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  margin-left: -10px;
  top: 83% !important;
  left: 58% !important;
  animation: slide-bl 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}

.saturn {
  height: 110px;
  width: 225px;
  background-image: url("../img/saturn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -15px;
  margin-left: -15px;
  top: 5% !important;
  left: 68% !important;
  animation: slide-tr 5s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse both;
}

.uranus {
  height: 120px;
  width: 120px;
  background-image: url("../img/uranus.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -15px;
  margin-left: -15px;
  top: 71% !important;
  left: 77% !important;
  animation: orbit2 linear infinite 10s;
}

.pluto {
  height: 45px;
  width: 45px;
  background-image: url("../img/pluto.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -8px;
  margin-left: -8px;
  top: 50% !important;
  left: 90% !important;
  animation: slide 2s linear infinite alternate both;
}

.rocket-man {
  height: 85px;
  width: 85px;
  background-image: url("../img/space-man.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -8px;
  margin-left: -8px;
  top: 60% !important;
  left: 90% !important;
  animation: Rocket linear 10s;
  z-index: -1;
  opacity: 0;
}

.rocket-man2 {
  height: 85px;
  width: 85px;
  background-image: url("../img/space-man.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 600px;
  z-index: 9999;
  animation: wobble-ver-right 10.8s linear infinite both;
}

@keyframes Rocket {
  0% {
    opacity: 1;
    transform: translate(-2000px, 150px);
  }
  10% {
    opacity: 1;
    transform: translate(320px, 150px);
  }
  32% {
    opacity: 1;
    transform: translate(-1380px, -680px);
  }
  44% {
    opacity: 1;
    transform: translate(-500px, 100px);
  }
  63% {
    opacity: 1;
    transform: translate(50px, -200px);
  }
  93% {
    opacity: 1;
    transform: translate(-73px, -500px);
  }
  99% {
    transform: translate(-3px, -600px);
  }
  100% {
    opacity: 0;
    transform: translate(-100px, -150px);
  }
}
@keyframes wobble-ver-right {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  0% {
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(1.2deg);
  }
}
@keyframes orbit1 {
  0% {
    transform: translate(-56px, -56px);
  }
  20% {
    transform: translate(-75px, -31px);
  }
  40% {
    transform: translate(-130px, 96px);
  }
  61% {
    transform: translate(-95px, 21px);
  }
  70% {
    transform: translate(-50px, 12px);
  }
  100% {
    transform: translate(-156px, -60px);
  }
}
@keyframes orbit2 {
  0% {
    transform: translate(-126px, 131px);
  }
  25% {
    transform: translate(82px, 283px);
  }
  51% {
    transform: translate(284px, 31px);
  }
  75% {
    transform: translate(92px, -21px);
  }
  88% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(-126px, 131px);
  }
}
@keyframes slide {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-30px) translateX(70%);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
@-webkit-keyframes slide-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-100px) translateX(-100px);
    transform: translateY(-100px) translateX(-100px);
  }
}
@keyframes slide-tl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-100px) translateX(-100px);
    transform: translateY(-100px) translateX(-100px);
  }
}
@keyframes slide-tr {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100px) translateX(100px);
  }
}
.page-footer {
  background-color: #0000 !important;
  width: 100%;
  height: auto;
  background-image: url("../img/moon2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: static;
  bottom: 0;
  padding: 0 !important;
}

.infobox {
  margin-top: -10px !important;
  display: flex !important;
}

.black-text1 {
  margin: 1rem !important;
  color: black;
}

#footer-content {
  margin-bottom: -30%;
}
#footer-content img {
  height: 50px !important;
  width: auto;
}

@media only screen and (min-width: 0px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (max-width: 399px) {
  .page-footer {
    height: 100px !important;
  }

  #footer-content img {
    height: 1em;
    width: auto;
    margin-bottom: -10%;
  }
}
@media only screen and (min-width: 400px) {
  .page-footer {
    height: 130px !important;
  }

  #footer-content img {
    height: 1.5em;
    width: auto;
  }

  #logo {
    height: 80px !important;
    width: 80px !important;
  }
}
@media only screen and (max-width: 490px) {
  nav ul li a {
    font-size: 1.5em !important;
  }

  nav ul li {
    margin-top: 15px;
  }

  #logo {
    height: 50px !important;
    width: 50px !important;
  }
}
@media only screen and (max-width: 600px) {
  nav ul a {
    font-size: 2.3em !important;
  }

  .black-text1 {
    margin-top: 5em !important;
  }

  #footer-content img {
    height: 1.5em;
    width: auto;
    margin-top: 3.5em !important;
  }
}
@media only screen and (min-width: 768px) {
  .page-footer {
    height: 180px !important;
  }

  #footer-content img {
    height: 2.5em;
    width: auto;
  }

  .black-text1 {
    font-size: 1.5em !important;
  }
}
@media only screen and (min-width: 900px) {
  .page-footer {
    height: 250px !important;
  }

  #footer-content {
    padding-top: 90px;
  }

  #footer-content img {
    height: 4em;
    width: auto;
  }

  #logo {
    height: 110px !important;
    width: 110px !important;
  }
}
@media only screen and (min-width: 1300px) {
  .page-footer {
    height: 300px !important;
  }

  #footer-content img {
    height: 5em;
    width: auto;
    margin-bottom: 10%;
  }

  .infobox {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 1700px) {
  .page-footer {
    height: 300px !important;
  }

  #footer-content img {
    height: 6em;
    width: auto;
  }
}
/*
.row > div {
  background: #dddddd;
  border: 1px solid #ffffff;
  line-height: 60px;
}

.row {
  margin: 40px auto;
}
*/

/*# sourceMappingURL=style.css.map */
