@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Handlee");

$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  secondary: #fff200,
  basic: #fff
);

$fonts: (
  header1: (
    "Handlee",
    cursive
  ),
  text1: (
    "Roboto",
    sans-serif
  )
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-family($font-name) {
  @return map-get($fonts, $font-name);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/background.png");
  background-size: 60%;
  font-family: font-family(text1) !important;
  z-index: -1;
}

.brand-logo {
  position: absolute !important;
  float: left !important;
  opacity: 1 !important;
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  font-size: 3em !important;
  font-family: font-family(header1) !important;
  color: color(basic) !important;
}
nav ul li {
  margin: 0 -10px;
  color: color(secondary) !important;
}

#nav-mobile {
  margin:auto !important;
  display: inline-block !important;
  
}

/*
.container1 {
  margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    
}
*/
.page-footer{ 
  background-color: #0000 !important;
  width: 100%;
  height: auto;
  background-image: url("../img/moon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position:fixed;
  bottom:0;

}




#footer-content {
  margin-bottom: -30%;
    img {
      height: 50px;
      width: auto;
    }
}

@media only screen and (max-width: 375px) {
  .page-footer{ 
    height: 100px !important;
  
  }
  #footer-content {
      img {
        height: 2em;
        width: auto;
        margin-bottom: -10%
      }
  }
}

@media only screen and (min-width: 400px) {
  .page-footer{ 
    height: 130px !important;
  }
  #footer-content img{
      height: 3em;
      width: auto;
    }
}

@media only screen and (min-width: 768px) {
  .page-footer{ 
    height: 180px !important;  
  }
  #footer-content img{
    height: 4.5em;
    width: auto;
   
  }
}

@media only screen and (min-width: 900px) {
  .page-footer{ 
    height: 250px !important;  
  }
  #footer-content {
    padding-top: 90px;
  }
  #footer-content img{
    height: 5em;
    width: auto;
    margin-bottom: 10%
  }
}

@media only screen and (min-width: 1300px) {
  .page-footer{ 
    height: 300px !important;  
  }
  #footer-content img{
    height: 7em;
    width: auto;
    margin-bottom: 10%
  }
}


@media only screen and (min-width: 1700px) {
  .page-footer{ 
    height: 300px !important;  
  }
  #footer-content img{
    height: 7em;
    width: auto;
    margin-bottom: 25%;
  }
}

/*
.row > div {
  background: #dddddd;
  border: 1px solid #ffffff;
  line-height: 60px;
}

.row {
  margin: 40px auto;
}
*/