@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Handlee");

$colors: (
  primary: #005dff,
  primary-light: lighten(#005dff, 40%),
  primary-dark: darken(#005dff, 40%),
  secondary: #FFF200,
  basic: #fff
);

$fonts: (
  header1: (
    "Handlee", cursive
  ),
  text1: (
    "Roboto", sans-serif
  )
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font-family($font-name) {
  @return map-get($fonts, $font-name);
}

* {
    box-sizing: border-box;
}

body {
  background-image: url("../img/background.png");
  background-size: 60%;
  
  font-family: font-family(text1)!important;
  z-index: -1;
  
}

.brand-logo {
  position: absolute!important;
  float: left!important;
  opacity: 1.0!important;
  
}

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  font-size: 3em !important;
  font-family: font-family(header1)!important;
  color: color(basic) !important;


  
}
nav ul li {
  margin: 0 -10px;
  color: color(secondary) !important;
}


#nav-mobile {
  margin-left: 5.5rem !important;
  float: none !important;
  display: inline-block!important;
  
  
  
}

.row > div {
  padding: 10px;
  background: #dddddd;
  border: 1px solid #ffffff;
  line-height: 60px;
}

.row {
  margin: 40px auto;
}
